@media (max-width: 1200px){
	#about .icon{
	  	height:20px;
	    width:20px;
		line-height:20px;
	}
	#about .icon .fas{
		font-size:10px;
	}
	#about .part1,#about .part2,#about .part3,#about .part4{
		font-size:11px;
	}
	#about .para,#about .para1,#about .para2,#about .para3{
		font-size:11px;
	}
		
}

@media (max-width: 1000px){
	#slide .slide-text{
	padding-top:170px;
	}
	.slide-text h1{
	font-size:70px;
}

	
}

@media (max-width: 992px){
	
	#slide .slide-text{
	padding-top:100px;
	}
	#about .progress_bar h3{
		margin-top:80px;
	font-size:20px;		
	}
		#about .icon{
			height:40px;
	    width:40px;
		
		}
	#about .icon .fas{
         font-size:20px;
		 margin-top:10px;
	}	
	#about .part1,#about .part2,#about .part3,#about .part4{
		margin-bottom:20px;
		
	}
	#about .part1,#about .part2,#about .part3,#about .part4{
		font-size:14px;
	}
	#about .para,#about .para1,#about .para2,#about .para3{
		font-size:17px;
		font-weight:bold;
	}
}



@media (max-width: 768px){
		.slide-text h1{
	font-size:40px;
}
.slide-text span{
	font-size:20px;
}
#about .icon{
			height:40px;
	    width:40px;
		line-height:22px;
		
		}
		#about .icon .fas{
			font-size:20px;
		}
#about .para,#about .para1,#about .para2,#about .para3{
	float:left;
	margin-top:3px;
	font-size:20px;
	padding-left:10px;
}
	#about .part1,#about .part2,#about .part3,#about .part4{
		font-size:20px; 
		
	}
}